# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
env/

# IDEs
.vscode/
.idea/

# Local DB & Artifacts
*.duckdb
*.enc
logs/*.jsonl
data/raw/*.parquet
data/db/*

# Testing & Coverage
.pytest_cache/
htmlcov/
